<% layout('layout') -%>
<% if (!user) { %>
  <div class="hero-unit">
    <h1>Welcome to Microblog</h1>
    <p>Microblog is built on top of Node.js.</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">Log in</a>
      <a class="btn btn-large" href="/reg">Register</a>
    </p>
  </div>
<% } else { %>
  <%- partial('say') %> 
<% } %>
<%- partial('posts') %> 
